rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /responses/{responseId} {
      allow create: if
        request.resource.data.keys().hasOnly(['submittedAt','briefingDate','answers'])
        && request.resource.data.briefingDate is string
        && request.resource.data.answers is map;

      allow read: if
        request.auth != null
        && request.auth.token.email_verified == true
        && request.auth.token.email == 'zopidou@gmail.com';

      allow update, delete: if false;
    }
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
